section {
  background-color: rgba(255, 255, 255, 0); /* Fondo blanco semitransparente para cada sección */
  border-radius: 8px;
  padding: 60px; /* Espacio interno para que el texto no llegue a los bordes */
  margin-bottom: 50px; /* Espacio entre secciones */
  box-shadow: 0 4px 10px rgba(58, 53, 53, 0.11); /* Sombra para hacer las secciones más visibles */
}

h2 {
  color: #003366; /* Azul oscuro para los títulos */
  font-size: 1.5em;
  margin-bottom: 12px;
  font-weight: bold;
  text-align: center;
}

p, ul {
  font-size: 1.1em;
  line-height: 1.6;
  color: rgba(30, 26, 26, 0.51); /* Texto en gris oscuro */
  margin: 0 15px; /* Margen lateral en el texto */
}

ul {
  padding-left: 20px; /* Espacio de sangría para la lista */
}

li {
  margin-bottom: 8px;
}

/* Estilo para el botón */
.interesado-button {
  display: block;
  margin: 30px auto; /* Centrado con separación superior */
  max-width: 200px; /* Ancho máximo */
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0); /* Azul atractivo */
  color: rgba(255, 255, 255, 0);
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.interesado-button:hover {
  background-color: rgba(0, 76, 153, 0); /* Cambio de color al pasar el mouse */
}
