<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>TECM Valle Oaxaca</ion-list-header>
          <ion-note>951 517 0444</ion-note>

        </ion-list>
        <ion-list id="Informatica">
          <ion-list-header>Informática</ion-list-header>

          <!-- Enlace para "Informática" con opción de selección exacta -->
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="root"
              [routerLink]="['/informatica']"
              lines="none"
              detail="false"
              routerLinkActive="selected"
              [routerLinkActiveOptions]="{ exact: true }">
              <ion-icon aria-hidden="true" slot="start" name="school-outline"></ion-icon>
              <ion-label>Informática</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/informatica/home-informatica']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" name="school-outline"></ion-icon>
              <ion-label>Registro</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- Módulo Ingeniería en TICs -->
        <ion-list id="IngTics">
          <ion-list-header>Ingeniería en TICs</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/tics']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" name="desktop-outline"></ion-icon>
              <ion-label>Ingeniería en TICs</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/tics/formularios']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" name="document-outline"></ion-icon>
              <ion-label>Registro</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- Módulo Ciencia de Datos -->
        <ion-list id="CienciaDeDatos">
          <ion-list-header>Ciencia de Datos</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/ciencia-de-datos']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" name="analytics-outline"></ion-icon>
              <ion-label>Ciencia de Datos</ion-label>
            </ion-item>
            <ion-item routerDirection="root" [routerLink]="['/ciencia-de-datos/formularios']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" name="document-outline"></ion-icon>
              <ion-label>Registro</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
