<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <!-- Lista principal de opciones -->
        <ion-list id="inbox-list">
          <ion-list-header>TECM Valle Oaxaca</ion-list-header>
          <ion-note>951 517 0444</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- Sección de Informática -->
        <ion-list id="Informatica">
          <ion-list-header>Informática</ion-list-header>

          <!-- Enlace para "Informática" con opción de selección exacta -->
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="root"
              [routerLink]="['/informatica']"
              lines="none"
              detail="false"
              routerLinkActive="selected"
              [routerLinkActiveOptions]="{ exact: true }">
              <ion-icon aria-hidden="true" slot="start" name="school-outline"></ion-icon>
              <ion-label>Informática</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <!-- Enlace para "Registro" también con selección exacta -->
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="root"
              [routerLink]="['/informatica/formularios']"
              lines="none"
              detail="false"
              routerLinkActive="selected"
              [routerLinkActiveOptions]="{ exact: true }">
              <ion-icon aria-hidden="true" slot="start" name="school-outline"></ion-icon>
              <ion-label>Registro</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
