<ion-header>
  <ion-toolbar color="">
    <ion-title>Lista de Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Alumnos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Correo</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>{{ alumno.Nombre }} {{ alumno.ApellidoP }} {{ alumno.ApellidoM }}</td>
          <td>{{ alumno.NomeroT }}</td> <!-- Cambiado a NumeroT -->
          <td>{{ alumno.Correo }}</td>
        </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>

  <ng-template #noData>
    <p>No hay datos disponibles.</p>
  </ng-template>
</ion-content>
